/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}
.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-none {
  flex: none;
}

.justify-content-center {
  justify-content: center;
}
